[server default]
manager_log=/var/log/mha/manager.log
master_binlog_dir=/var/lib/mysql
manager_workdir=/etc/mha
ping_interval=5
remote_workdir=/etc/mha

user=Yuezh
password=Yzh0905.
repl_user=Yuezh
repl_password=Yzh0905.
ssh_user=root

master_ip_failover_script=/etc/mha/master_ip_failover
master_ip_online_change_script=/etc/mha/master_ip_online_change
#shutdown_script=""
report_script=/etc/mha/send_report


[server1]
hostname=192.168.88.4
port=3306
candidate_master=1
check_repl_delay=0

[server2]
hostname=192.168.88.19
port=3306
candidate_master=1
check_repl_delay=0     

[server3]
hostname=192.168.88.28
port=3306
